{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block og_title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block og_description %}
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block meta_image %}
{% endblock %}

{% block content %}
    <!-- Slider
============================================= -->
    <section id="slider" class="slider-element swiper_wrapper min-vh-60 min-vh-md-90" data-dots="true"
             data-loop="true" data-grab="false">

        <div class="swiper swiper-parent">
            <div class="swiper-wrapper">
                <!-- Theme Light -->
                {% for slide in sliders %}
                    {% if slide.theme == 'LIGHT' %}
                        <div class="swiper-slide dark">
                            <div class="container">
                                <div class="slider-caption top-left">
                                    <div>
                                        <h2 class="font-primary text-transform-none">{{ slide.title }}</h2>
                                        <p class="fw-light font-primary d-none d-sm-block">{{ slide.description }}</p>
                                        <a href="{{ slide.cta_link }}" {% if slide.cta_blank %}target="_blank"{% endif %}
                                           class="button button-rounded button-border button-white button-light text-transform-none">{{ slide.cta_text }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide-bg"
                                 style="background-image: url('{{ slide.image_processed.url }}');"></div>
                        </div>
                    {% else %}
                        <!-- Theme Dark -->
                        <div class="swiper-slide dark">
                            <div class="container">
                                <div class="slider-caption">
                                    <div>
                                        <h2 class="font-primary text-dark text-transform-none">{{ slide.title }}</h2>
                                        <p class="fw-light font-primary text-dark d-none d-sm-block">{{ slide.description }}
                                        </p>
                                        <a href="{{ slide.cta_link }}" {% if slide.cta_blank %}target="_blank"{% endif %}
                                           class="button button-rounded button-border button-dark button-dark text-transform-none">{{ slide.cta_text }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide-bg"
                                 style="background-image: url('{{ slide.image_processed.url }}');"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </section><!-- #Slider End -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap pb-0" style="padding-top: 1px">

            <!-- Masonry Thums
            ============================================= -->
            <div class="row m-0 dark" data-height-xs="500" data-height-sm="500" data-height-md="350"
                 data-height-lg="350" data-height-xl="350">
                {% for banner in link_banners %}
                <a href="{{ banner.cta_link }}" class="col-md-4 image_fade border-right"
                   style="background: url('{{ banner.image_processed.url }}') no-repeat center center / cover;">
                    <div class="bg-overlay">
                        <div
                                class="bg-overlay-content text-overlay-mask dark align-items-end justify-content-start">
                            <div class="portfolio-desc py-0">
                                <h3>{{ banner.title }}</h3>
                                <span>{{ banner.cta_text }} &rarr;</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <!-- Moving car on scroll
            ============================================= -->
            <div class="section mt-0" style="padding: 100px 0">
                <div class="running-car mt-6">
                    <img class="car" src="{% static 'dealer/demos/car/images/moving-car/car.jpg' %}" alt="Image">
                    <img class="wheel" src="{% static 'dealer/demos/car/images/moving-car/car-tier.png' %}" alt="Image">
                </div>
                <div class="container">
                    <div class="row" style="position: relative;">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="heading-block h-large">
                                <h3>Denza D9<br>Luxury EV</h3>
                            </div>
                            <p>Assertively iterate enterprise-wide portals through synergistic products. Efficiently
                                build adaptive schemas after transparent quality vectors. Phosfluorescently optimize
                                competitive resources after extensive convergence. Rapidiously optimize high-quality
                                meta-services via distributed architectures. Credibly deliver 24/365.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- Moving car on scroll End -->

            <!-- Features Section
            ============================================= -->
            <div class="container">

                <div class="row mt-5 mb-5">

                    <div class="col-lg-4 col-md-6 mt-5 mb-4">

                        <div class="heading-block border-bottom-0">
                            <h2 class="text-transform-none ls-0" style="font-size: 44px; line-height: 1.2">Coming Soon
                                Denza Z9 GT</h2>
                        </div>
                        <span style="color: #BBB;">Eum nihil pretium quas aliqua, laboris ipsam diam congue natoque
                                mollitia occaecati! Cubilia pede, numquam fringilla proident dis? Molestias
                                repellat.<br><br>Quas perferendis urna, officiis necessitatibus deserunt recusandae urna
                                ullamco hac do beatae cubilia iste dolorum, facilisi? Sit, hic, varius!
                                Sollicitudin.<br><br>Nostrum feugiat beatae proident porro eleifend adipiscing nostrud
                                aliquid sit.</span>
                        <div class="clear"></div>
                        <a href="#"
                           class="button button-rounded button-black button-dark ms-0 mt-4">Know More</a>

                    </div>

                    <div class="col-lg-4 d-md-none d-lg-block text-center">
                        <img src="{% static 'dealer/demos/car/images/denza/denza-new1.png' %}" alt="Car">
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mb-4">
                        <div class="feature-box fbox-plain mt-5">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-car-battery"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Long Battery Life</h3>
                                <p>Canvas provides support for Native HTML5 Videos that can be added to a
                                    Background.</p>
                            </div>
                        </div>

                        <div class="feature-box fbox-plain mt-5">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-car-cogs2"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>24x7 Service</h3>
                                <p>Complete control on each &amp; every element that provides endless customization.
                                </p>
                            </div>
                        </div>

                        <div class="feature-box fbox-plain mt-5">
                            <div class="fbox-icon">
                                <a href="#"><i class="icon-car-pump"></i></a>
                            </div>
                            <div class="fbox-content">
                                <h3>Petrol, Diesel &amp; LPG</h3>
                                <p>Change your Website's Primary Scheme instantly by simply adding the dark class.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- Features Area End -->

            <!-- Card list
            ============================================= -->
            <div class="section m-0 bg-transparent" style="padding: 100px 0;">
                <div class="container">
                    <div class="heading-block text-center">
                        <div class="before-heading text-uppercase ls-1"
                             style="font-size: 13px; font-style: normal;">Temukan kendaraan impian anda
                        </div>
                        <h3 class="fw-bold">Jelajahi Produk</h3>
                    </div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio row grid-container gutter-20 col-mb-30"
                         data-layout="fitRows">

                        <!-- Car Card - Loop -->
                        {% for product in products %}
                        <article class="portfolio-item col-12 col-sm-6 col-lg-4 cf-sedan">
                            <div class="grid-inner">
                                <div class="portfolio-image">
                                    <a href="{{ product.get_url }}">
                                        <img src="{{ product.image_trans_header.url }}" alt="Open Imagination">
                                        {% if product.is_coming_soon %}
                                        <div class="filter-p-pricing">
                                            <span class="p-price fw-bold ls-1">Coming Soon</span>
                                        </div>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="portfolio-desc">
                                    <h3><a href="{{ product.get_url }}">{{ product.title }}</a></h3>
                                    <span>{{ product.small_description }}</span>
                                </div>
                                <div class="row g-0 car-p-features font-primary">
                                    <div class="col-lg-4 col-6 p-0"><i class="icon-car-battery"></i><span>
												{{ product.highlight_battery }}</span></div>
                                    <div class="col-lg-4 col-6 p-0"><i class="bi-people"></i><span>
												{{ product.highlight_seat }}</span></div>
                                    <div class="col-lg-4 col-6 p-0"><i class="icon-car-meter"></i><span>
												{{ product.highlight_range }}</span></div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div> <!-- Filter Car lists end -->

        <!-- News Section -->
        <div class="section mt-0 mb-0" style="background: #fafafa;">
            <div class="container">
                <div class="heading-block text-center">
                    <div class="before-heading text-uppercase ls-1" style="font-size: 13px; font-style: normal;">
                        Lihat Semua berita dan blog seputar Denza dan Otomotif
                    </div>
                    <h3 class="fw-bold">Berita dan Blog</h3>
                </div>

                <div class="row">

                    {% for news in news_items %}

                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ news.image_thumbnail.url }}" alt="Card image cap">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-black-50">{{ news.category.title }}</strong>
                                <h5 class="mb-2 fw-semibold text-uppercase"><a class="text-dark" href="{{ news.get_url }}">{{ news.title }}</a></h5>
                                <span>{{ news.created_at|date:"d M Y" }}</span>
                                <p class="card-text my-3">{{ news.small_description|truncatechars:120 }}</p>
                                <a href="{{ news.get_url }}"
                                   class="button button-3d button-rounded text-transform-none fw-semibold ls-0 m-0">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- Buy And Sell Section
        ============================================= -->
        <div class="section m-0 p-0">
            <div class="row align-items-stretch">
                <!-- Half Section 2 -->
                <div class="col-lg-6 bg-color"
                     style="background: url('https://placehold.co/600x400/e6e6e6/a3a3a3/jpg') center center no-repeat; background-size: cover;">
                    <div class="col-padding">
                        <i class="i-plain i-xlarge icon-car-care inline-block" style="margin-bottom: 20px;"></i>
                        <div class="heading-block border-0" style="margin-bottom: 20px;">
                            <h3>Rasakan Sensasi Berkendara Mewah</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus.
                            Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
                        <a href="#" class="button button-large button-dark button-black button-rounded m-0">Test
                            Drive</a>
                    </div>
                </div>
                <!-- Half Section 1 -->
                <div class="col-lg-6 dark bg-color"
                     style="background: url('https://placehold.co/600x400/2b2b2b/525252/jpg') center center no-repeat; background-size: cover;">
                    <div class="col-padding">
                        <i class="i-plain i-xlarge icon-car-service inline-block"
                           style="margin-bottom: 20px;"></i>
                        <div class="heading-block border-0" style="margin-bottom: 20px;">
                            <h3>Konsultasi Eksklusif</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aspernatur, doloribus.
                            Aspernatur, maiores earum eaque quas temporibus eius dolore dicta.</p>
                        <a href="#" class="button button-rounded button-white button-light m-0">Hubungi Kami</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Before Footer Section
        ============================================= -->
        <div class="section m-0"
             style="background: #FFF url('https://placehold.co/1920x1080/121212/525252/jpg') center bottom no-repeat; background-size: cover; height: 770px">
            <div class="mx-auto dark center" style="max-width: 570px">
                <div class="heading-block dark mb-4 border-0">
                    <h2 class="text-transform-none fw-medium">DENZA Indonesia</h2>
                    <p style="color: #DDD; margin-top: 10px">DENZA, mobil listrik persembahan BYD, menawarkan
                        pengalaman perjalanan yang mewah dan tak terlupakan bagi keluarga kelas atas.</p>
                </div>
                <a href="#" class="text-uppercase fw-bold ls-2 text-white"
                   style="font-size: 12px; border-bottom: 1px solid #FFF">Pesan Test Drive</a> &rarr;
            </div>
        </div>
    </section><!-- #content end -->

{% endblock %}