{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    {{ news_item.title }}
{% endblock %}

{% block og_title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block og_description %}
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block meta_image %}
{% endblock %}

{% block content %}
    <!-- Content
============================================= -->
    <section id="content">
        <div class="content-wrap pt-0 bg-light">
            <div class="container">

                <!-- Entry Image
                ============================================= -->
                <div class="entry-image align-full mb-0">
                    <img src="{{ news_item.image_processed.url }}" alt="Blog Single" class="align-wide-full">
                    <div class="p-4 bg-white position-relative shadow-sm rounded text-center align-wide-lg"
                         style="transform: translateY(-30%);">
                        <!-- Entry Title
                        ============================================= -->
                        <div class="entry-title pt-3">
                            <h2>{{ news_item.title }}</h2>
                        </div><!-- .entry-title end -->

                        <!-- Entry Meta
                        ============================================= -->
                        <div class="entry-meta mb-0 pb-3">
                            <ul class="justify-content-center m-0">
                                <li><i class="uil uil-schedule"></i> {{ news_item.created_at|date:"d M Y" }}</li>
                                <li><i class="uil uil-folder-open"></i>{{ news_item.category.title }}</li>
                            </ul>
                        </div><!-- .entry-meta end -->

                    </div>
                </div>

                <div class="single-post mw-sm mx-auto">

                    <!-- Single Post
                    ============================================= -->
                    <div class="entry">

                        <div class="clear"></div>

                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content">

                            {% for block in news_item.content %}
                                {% if block.block_type == 'paragraph' %}
                                    <!-- Block p -->
                                    <p>{{ block.value }}</p>
                                    <!-- End Block p -->

                                {% elif block.block_type == 'h4' %}
                                    <!-- Block H4 -->
                                    <h4>{{ block.value }}</h4>
                                    <!-- End Block H4 -->

                                {% elif block.block_type == 'h6' %}
                                    <!-- Block H6 -->
                                    <h6>{{ block.value }}</h6>
                                    <!-- End Block H6 -->

                                {% elif block.block_type == 'blockquote_1' or block.block_type == 'blockquote_2' %}
                                    <!-- Block Blockquote -->
                                    <blockquote><p>{{ block.value }}</p></blockquote>

                                    <!-- End Block Blockquote -->

                                {% elif block.block_type == 'image' %}
                                    <!-- Block Image -->
                                    <div class="mb-50 pb-4 mt-50">
                                        <div class="col-sm-12">
                                            <div class="iner-img sm-mb30">
                                                <img src="{{ block.processed_image_url }}" alt="Post">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Block Image -->

                                {% elif block.block_type == 'unordered_list' %}
                                    <ul>
                                        {% for item in block.list_items %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>

                                {% elif block.block_type == 'ordered_list' %}
                                    <!-- Block ol -->
                                    <ul>
                                        {% for item in block.list_items %}
                                            <li><span>{{ forloop.counter|stringformat:"02d" }} -</span> {{ item }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- endblock ol -->


                                {% endif %}
                            {% endfor %}


                    </div>

                    <!-- Post Navigation
                    ============================================= -->
                    {#                    <div class="row text-center text-md-start justify-content-between my-5">#}
                    {#                        <div class="col-md-auto">#}
                    {#                            <a href="#" class="d-inline-flex align-items-center text-dark h-text-color"><i#}
                    {#                                    class="uil uil-angle-left-b fs-3 me-1"></i><span>15 Ways to create Healthy Habits</span></a>#}
                    {#                        </div>#}
                    {#                        <div class="col-md-auto">#}
                    {#                            <a href="#" class="d-inline-flex align-items-center text-dark h-text-color"><span>The Next big thing is AI</span><i#}
                    {#                                    class="uil uil-angle-right-b fs-3 ms-1"></i></a>#}
                    {#                        </div>#}
                    {#                    </div>#}


                </div>
            </div>

        </div>

    </section><!-- #content end -->

{% endblock %}