{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block og_title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block og_description %}
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block meta_image %}
{% endblock %}

{% block content %}
    <!-- Page Title
    ============================================= -->
    <section class="page-title">
        <div class="container">
            <div class="page-title-row">

                <div class="page-title-content">
                    <h1>Berita dan Blog</h1>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Berita dan Blog</li>
                    </ol>
                </nav>

            </div>
        </div>
    </section><!-- .page-title end -->


    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://placehold.co/960x540" alt="Card image cap">
                            <div class="card-body">
                                <strong class="d-inline-block mb-2 text-black-50">World</strong>
                                <h4 class="mb-2 fw-semibold text-uppercase"><a class="text-dark" href="#">Volkswagen’s
                                    Pikes Ppeak racer is a 680 HPAV</a></h4>
                                <a href="#" class="card-link">1 April 2025</a>
                                <p class="card-text my-3">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                                <a href="#"
                                   class="button button-3d button-rounded text-transform-none fw-semibold ls-0 m-0">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}