{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    {{ product_item.title }}
{% endblock %}

{% block og_title %}
{% endblock %}

{% block meta_description %}
{% endblock %}

{% block og_description %}
{% endblock %}

{% block meta_keywords %}
{% endblock %}

{% block meta_image %}
{% endblock %}

{% block custom_css %}
    <style>

        /*--------------------
        swiper pagination color
        ---------------------*/
        {% for color_variant in product_color_variants %}
        .dark .swiper-pagination span:nth-child({{ forloop.counter }}):hover,
        .dark .swiper-pagination span:nth-child({{ forloop.counter }}) {
            background-color: #{{ color_variant.color_hex }};
        }
        {% endfor %}

        /*--------------------
        Background
        --------------------*/
        .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }

        /*--------------------
        Slider-text
        --------------------*/
        .slider-text {
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
        }

        .slider-text h2 {
            font-weight: 700;
            margin-bottom: 10px;
        }

        .slider-text p {
            font-size: 17px;
            font-weight: 300;
            opacity: .7;
        }


    </style>
{% endblock %}

{% block content %}

    <!-- Slider
    ============================================= -->
    <section id="slider" class="slider-element dark swiper_wrapper" data-effect="fade" data-loop="true" data-dots="true"
             data-speed="1000" data-autoplay="4500" style="min-height: 650px;">

        <div class="slider-text mb-5">
            <h2 class="font-primary">{{ product_item.title }}</h2>
            <p class="font-primary">Variasi Warna (Klik atau geser untuk mengganti warna)</p>
            <a href="{{ product_item.youtube_url }}" class="play-icon shadow" data-lightbox="iframe"><i
                    class="fa-brands fa-google-play"></i></a>
        </div>

        <div class="swiper swiper-parent">
            <div class="swiper-wrapper">
                {% for color_variant in product_color_variants %}
                  <div class="swiper-slide">
                    <div class="swiper-slide-bg"
                         style="background: linear-gradient(15deg, #C8CED6 50%, #7F858D 50%);"></div>
                    <div class="slider-caption slider-caption-center mt-6">
                      <img src="{{ color_variant.image.url }}" alt="{{ color_variant.color }}" class="img-fluid" />
                    </div>
                  </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </section><!-- #Slider End -->

    <!-- Page Sub Menu
    ============================================= -->
    <div id="page-menu">
        <div id="page-menu-wrap">
            <div class="container">
                <div class="page-menu-row">

                    <div class="page-menu-title">{{ product_item.title }}</div>

                    <nav class="page-menu-nav one-page-menu">
                        <ul class="page-menu-container">
                            <li class="page-menu-item"><a href="#" data-href="#section-features">
                                <div>Fitur</div>
                            </a></li>
                            <li class="page-menu-item"><a href="#" data-href="#section-spec">
                                <div>Spesifikasi Teknis</div>
                            </a></li>
                            <li class="page-menu-item"><a href="#" data-href="#section-price">
                                <div>Variant</div>
                            </a></li>
                            <li class="page-menu-item"><a href="#" data-href="#section-gallery">
                                <div>Galery</div>
                            </a></li>
                        </ul>
                    </nav>

                    <div id="page-menu-trigger"><i class="bi-list"></i></div>

                </div>
            </div>
        </div>
    </div><!-- #page-menu end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap pt-5">
            <div class="container">

                <div class="row">
                    <!-- Posts -->
                    <div class="col-md-8">

                        <!-- Page Section - features
                        ============================================= -->
                        <div id="section-features" class="page-section">
                            <h3 class="mb-3">Deskripsi</h3>
                            {% for block in product_item.overview %}
                                {% if block.block_type == 'paragraph' %}
                                    <!-- Block p -->
                                    <p>{{ block.value }}</p>
                                    <!-- End Block p -->

                                {% elif block.block_type == 'h4' %}
                                    <!-- Block H4 -->
                                    <h4>{{ block.value }}</h4>
                                    <!-- End Block H4 -->

                                {% elif block.block_type == 'h6' %}
                                    <!-- Block H6 -->
                                    <h6>{{ block.value }}</h6>
                                    <!-- End Block H6 -->

                                {% elif block.block_type == 'blockquote_1' or block.block_type == 'blockquote_2' %}
                                    <!-- Block Blockquote -->
                                    <blockquote><p>{{ block.value }}</p></blockquote>

                                    <!-- End Block Blockquote -->

                                {% elif block.block_type == 'image' %}
                                    <!-- Block Image -->
                                    <div class="mb-50 pb-4 mt-50">
                                        <div class="col-sm-12">
                                            <div class="iner-img sm-mb30">
                                                <img src="{{ block.processed_image_url }}" alt="Post">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Block Image -->

                                {% elif block.block_type == 'unordered_list' %}
                                    <ul>
                                        {% for item in block.list_items %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>

                                {% elif block.block_type == 'ordered_list' %}
                                    <!-- Block ol -->
                                    <ul>
                                        {% for item in block.list_items %}
                                            <li><span>{{ forloop.counter|stringformat:"02d" }} -</span> {{ item }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- endblock ol -->


                                {% endif %}
                            {% endfor %}
                        </div>

                        <!-- Page Section - spec
                        ============================================= -->
                        <div id="section-spec" class="page-section mt-5">
                            <h3 class="mb-3">Spesifikasi Teknis</h3>
                            <div class="row">
                                {% for category, specs in car_specs_by_category.items %}
                                    <div class="col-lg-6 mt-3">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="color">{{ category.title }}</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for spec in specs %}
                                                <tr>
                                                    <td scope="row" class="text-black-50">{{ spec.title }}:</td>
                                                    <td class="text-end fw-semibold">{{ spec.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Page Section - gallery
                        ============================================= -->
                        <div id="section-price" class="page-section mt-5">
                            <h3 class="mb-3">Variant</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Models</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><a href="#">Denza D9 - Luxury</a><br><small>1.000 km, Automatic, 500hp</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Denza D9 - Long Range</a><br><small>10.000 km, Automatic,
                                        300hp</small></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Page Section - gallery
                        ============================================= -->
                        <div id="section-gallery" class="page-section my-5">
                            <h3 class="mb-3">Gallery</h3>
                            <div class="fslider flex-thumb-grid grid-6" data-animation="fade" data-speed="900"
                                 data-pagi="false" data-thumbs="true">
                                <div class="flexslider">

                                    <div class="slider-wrap">
                                        <!--  Loop -->
                                        {% for gallery in product_galleries %}
                                            <div class="slide" data-thumb="{{ gallery.image_thumbnail.url }}">
                                                <img src="{{ gallery.image_processed.url }}" alt="Image">
                                                <div class="bg-overlay">
                                                    <div class="bg-overlay-content justify-content-start align-items-end">
                                                        <div class="h4 fw-light bg-light text-dark px-3 py-2">{{ gallery.title }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- Loop -->

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="mb-4">
                            <h2 class="mb-0 h1 fw-semibold ls-0">{{ product_item.highlight_power }}/{{ product_item.highlight_battery }}</h2>
                            <small>Torsi (n.m)/Kapasitas Baterai (kW)</small>
                        </div>
                        <div class="line line-sm my-3"></div>
                        <div>
                            <h2 class="mb-0 fw-semibold h2 ls-0">{{ product_item.highlight_acceleration }}</h2>
                            <small>Akselerasi 0 - 100 km/h</small>
                        </div>
                        <div class="card bg-color mt-5 shadow-sm dark">
                            <div class="card-body">
                                <h3 class="card-title">{{ product_item.highlight_range }}</h3>
                                <p>Jarak Mengemudi</p>
                            </div>
                        </div>

                        <img class="mt-5" src="{{ product_item.image_dimension_thumbnail.url }}" alt="Image">
                        <div class="card mt-5 shadow-sm">
                            <div class="card-body">
                                <h3 class="card-title">Hubungi kami untuk melakukan test drive.</h3>
                                <p>Dapatkan juga penawaran terbatas dan berbagai promo lainnya.</p>
                                <a href="{% url 'core:whatsapp' %}" target="_blank"
                                   class="button button-rounded m-0 button-large w-100 side-panel-trigger text-center text-transform-none">Hubungi
                                    Kami</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- #content end -->

{% endblock %}