{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="author" content="PT Claverio Data Pratama">
    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- Core Style -->
    <link rel="stylesheet" href="{% static 'dealer/style.css' %}">

    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static 'dealer/css/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dealer/demos/car/css/car-icons/style.css' %}">

    <!-- Plugins/Components CSS -->
    <link rel="stylesheet" href="{% static 'dealer/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'dealer/css/components/bs-select.css' %}">
    <link rel="stylesheet" href="{% static 'dealer/include/rs-plugin/css/settings.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'dealer/include/rs-plugin/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'dealer/include/rs-plugin/css/navigation.css' %}">

    <!-- Niche Demos -->
    <link rel="stylesheet" href="{% static 'dealer/demos/car/car.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'dealer/css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'link/images/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'link/images/favicon.png' %}">


    {% block custom_css %}

    {% endblock %}

    <!-- Document Title
	============================================= -->
    <title>{% block title %}{% endblock title %} - Denza Indonesia</title>

    <!-- Canonical Link -->
    <link rel="canonical"
          href="{% if request %}{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"
          {% else %}https://www.denza-indonesia.id{% endif %}
    ">

    <!-- Meta Description -->
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <!-- Meta Keywords -->
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <meta name="robots" content="index, follow">


    <!-- Open Graph (Facebook) Metadata -->
    <meta property="og:title" content="Indopesona - {% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block meta_image %}{% endblock %}">
    <meta property="og:url"
          content="{% if request %}{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}"
          {% else %}https://www.indopesona.id{% endif %}
    ">
    <meta property="og:type" content="website">

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11356917655"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11356917655');
    </script>

    <style>
        /* Revolution Slider */
        .ares .tp-tab {
            border: 1px solid #eee;
        }

        .ares .tp-tab-content {
            margin-top: -4px;
        }

        .ares .tp-tab-content {
            padding: 15px 15px 15px 110px;
        }

        .ares .tp-tab-image {
            width: 80px;
            height: 80px;
        }
    </style>

</head>

<body class="stretched side-push-panel"
      data-loader-html="<div><img src='{% static 'dealer/demos/car/images/page-loader.gif' %}' alt='Loader'></div>">

<!-- Side Panel Overlay -->
<div class="body-overlay"></div>

<!-- Side Panel -->
<div id="side-panel">

    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="bi-x-lg"></i></a></div>

    <div class="side-panel-wrap">

        <div class="widget">

            <a href="#"><img src="{% static 'dealer/demos/car/images/denza/logo.png' %}" alt="Logo" height="50"></a>

        </div>

    </div>

</div>

<!-- Document Wrapper
============================================= -->
<div id="wrapper">

    {% include 'base/header.html' %}

    {% block content %}

    {% endblock %}

    <!-- Footer
    ============================================= -->
    {% include 'base/footer.html' %}
</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="uil uil-angle-up"></div>

<!-- Contact Button
============================================= -->
<a href="{% url 'core:whatsapp' %}?{% if product_item %}product_id={{ product_item.id }}{% endif %}" target="_blank">
    <div id="contact-me" class="bi-whatsapp bg-whatsapp"></div>
</a>

<!-- JavaScripts
============================================= -->
<script src="{% static 'dealer/js/plugins.min.js' %}"></script>
<script src="{% static 'dealer/js/functions.bundle.js' %}"></script>
<script src="{% static 'dealer/demos/car/js/360rotator.js' %}"></script>

<!-- Bootstrap Select Plugin -->
<script src="{% static 'dealer/js/components/bs-select.js' %}"></script>

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
<script src="{% static 'dealer/include/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>

<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'dealer/include/rs-plugin/js/extensions/revolution.extension.video.min.js' %}"></script>


<script>

    //Car Appear In View
    function isScrolledIntoView(elem) {
        var docViewTop = jQuery(window).scrollTop();
        var docViewBottom = docViewTop + jQuery(window).height();

        var elemTop = jQuery(elem).offset().top + 180;
        var elemBottom = elemTop + jQuery(elem).height() - 500;

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

    jQuery(window).scroll(function () {
        jQuery('.running-car').each(function () {
            if (isScrolledIntoView(this) === true) {
                jQuery(this).addClass('in-view');
            } else {
                jQuery(this).removeClass('in-view');
            }
        });
    });

    //threesixty degree
    window.onload = init;
    var car;

    function init() {

        car = jQuery('.360-car').ThreeSixty({
            totalFrames: 52, // Total no. of image you have for 360 slider
            endFrame: 52, // end frame for the auto spin animation
            currentFrame: 3, // This the start frame for auto spin
            imgList: '.threesixty_images', // selector for image list
            progress: '.spinner', // selector to show the loading progress
            imagePath: 'demos/car/images/360degree-cars/', // path of the image assets
            filePrefix: '', // file prefix if any
            ext: '.png', // extention for the assets
            height: 887,
            width: 500,
            navigation: true,
            responsive: true,
        });
    };

    // Rev Slider
    var revapi424, tpj = jQuery;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_424_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_424_1");
        } else {
            revapi424 = tpj("#rev_slider_424_1").show().revolution({
                sliderType: "carousel",
                jsFileLocation: "include/rs-plugin/js/",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 7000,
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    mouseScrollReverse: "default",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    }
                    ,
                    arrows: {
                        style: "uranus",
                        enable: false,
                        hide_onmobile: false,
                        hide_onleave: true,
                        hide_delay: 200,
                        hide_delay_mobile: 1200,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: -10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: -10,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        maxRotation: 65,
                        vary_rotation: "on",
                        minScale: 55,
                        vary_scale: "on",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "on",
                        vary_fade: "on",
                        maxVisibleItems: 5,
                        infinity: "off",
                        space: 0,
                        stretch: "on"
                    }
                    ,
                    tabs: {
                        style: "ares",
                        enable: true,
                        width: 270,
                        height: 80,
                        min_width: 270,
                        wrapper_padding: 10,
                        wrapper_color: "transparent",
                        wrapper_opacity: "0.5",
                        tmp: '<div class="tp-tab-content">  <span class="tp-tab-date">{{param1}}</span>  <span class="tp-tab-title">{{title}}</span></div><div class="tp-tab-image"></div>',
                        visibleAmount: 7,
                        hide_onmobile: false,
                        hide_under: 420,
                        hide_onleave: false,
                        hide_delay_mobile: 1200,
                        hide_delay: 200,
                        direction: "horizontal",
                        span: true,
                        position: "outer-bottom",
                        space: 20,
                        h_align: "left",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 0
                    }
                },
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: [1240, 992, 768, 420],
                gridheight: [600, 500, 960, 720],
                lazyType: "single",
                shadow: 0,
                spinner: "off",
                stopLoop: "off",
                stopAfterLoops: 0,
                stopAtSlide: 1,
                shuffle: "off",
                autoHeight: "off",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });	/*ready*/

    // Video on play on hover
    jQuery(document).ready(function ($) {
        jQuery('.videoplay-on-hover').hover(function () {
            if (jQuery(this).find('video').length > 0) {
                jQuery(this).find('video').get(0).play();
            }
        }, function () {
            if (jQuery(this).find('video').length > 0) {
                jQuery(this).find('video').get(0).pause();
            }
        });
    });
</script>



</body>

</html>