{% load static %}

<footer id="footer" class="dark border-0" style="background-color: #e6e6e6;">
    <div class="container-fluid px-5">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50 justify-content-between">
                <div class="col-lg-7">

                    <div class="row col-mb-30">
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Social Media</h4>
                                <ul>
                                    <li><a href="#" target="_blank">Instagram</a></li>
                                    <li><a href="#" target="_blank">Tiktok</a></li>
                                    <li><a href="#" target="_blank">Youtube</a></li>
                                    <li><a href="#" target="_blank">Facebook</a></li>
                                    <li><a href="#" target="_blank">Linkedin</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Product</h4>
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Latest News</h4>
                                <ul>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Page</h4>
                                <ul>
                                    <li><a href="#">Hubungi Kami</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 text-center text-lg-end">
                    <img src="{% static 'dealer/demos/car/images/denza/logo.png' %}" alt="Image" height="50">
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>
</footer><!-- #footer end -->
