{% load static %}

<footer id="footer" class="dark border-0" style="background-color: #e6e6e6;">
    <div class="container-fluid px-5">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap">

            <div class="row col-mb-50 justify-content-between">
                <div class="col-lg-7">

                    <div class="row col-mb-30">
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Media Sosial</h4>
                                <ul>
                                    {% if settings.globalsetting.SocialSetting.instagram_link %}
                                        <li><a href="{{ settings.globalsetting.SocialSetting.instagram_link }}" target="_blank">Instagram</a>
                                        </li>
                                    {% endif %}
                                    {% if settings.globalsetting.SocialSetting.tiktok_link %}
                                        <li><a href="{{ settings.globalsetting.SocialSetting.tiktok_link }}" target="_blank">Tiktok</a></li>
                                    {% endif %}
                                    {% if settings.globalsetting.SocialSetting.youtube_link %}
                                        <li><a href="{{ settings.globalsetting.SocialSetting.youtube_link }}" target="_blank">Youtube</a></li>
                                    {% endif %}
                                    {% if settings.globalsetting.SocialSetting.facebook_link %}
                                        <li><a href="{{ settings.globalsetting.SocialSetting.facebook_link }}" target="_blank">Facebook</a>
                                        </li>
                                    {% endif %}
                                    {% if settings.globalsetting.SocialSetting.linkedin_link %}
                                        <li><a href="{{ settings.globalsetting.SocialSetting.linkedin_link }}" target="_blank">Linkedin</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Produk</h4>
                                <ul>
                                    {% for product in ctx_products %}
                                        <li><a href="{{ product.get_url }}">{{ product.title|truncatechars:25 }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Berita dan Blog</h4>
                                <ul>
                                    {% for news in ctx_latest_news %}
                                        <li><a href="{{ news.get_url }}">{{ news.title|truncatechars:25 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="widget widget_links widget-li-noicon">
                                <h4 class="text-black">Halaman</h4>
                                <ul>
                                    {% for page in ctx_misc_pages %}
                                        <li><a href="{{ page.get_url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 text-center text-lg-end">
                    <img src="{% static 'dealer/demos/car/images/denza/logo.png' %}" alt="Image" height="50">
                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->
    </div>
</footer><!-- #footer end -->
