{% load static %}

<!-- Header
============================================= -->
<header id="header" class="full-header header-size-custom" data-sticky-shrink="false">
    <div id="header-wrap">
        <div class="container-fluid">
            <div class="header-row flex-lg-row-reverse">

                <!-- Logo
                ============================================= -->
                <div id="logo" class="me-lg-0 ms-lg-auto" style="padding-top: 5px; padding-bottom: 5px;">
                    <a href="{% url 'core:index' %}">
                        <img class="logo-default"
                             srcset="{% static 'dealer/demos/car/images/denza/logo.png' %}, {% static 'dealer/demos/car/images/denza/logo.png' %}"
                             src="{% static 'dealer/demos/car/images/denza/logo.png' %}" alt="Logo" height="50"
                             width="230"
                             style="transform: scale(0.85); transform-origin: center;">
                    </a>
                </div>

                <!-- #logo end -->

                <div class="primary-menu-trigger">
                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                    </button>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu with-arrows">
                    <ul class="menu-container">
                        <li class="menu-item current"><a class="menu-link" href="{% url 'core:index' %}">
                            <div>Beranda</div>
                        </a></li>
                        <!-- Mega Menu -->
                        <li class="menu-item mega-menu"><a class="menu-link" href="{% url 'core:product_list' %}">
                            <div>Produk</div>
                        </a>
                            <div class="mega-menu-content mega-menu-style-2">
                                <div class="container">
                                    <div class="row">
                                        <ul class="sub-menu-container mega-menu-column col-12">
                                            <li class="menu-item">
                                                <div class="widget text-center">

                                                    <h3 class="mb-0">Luxury Series</h3>
                                                    <a href="{% url 'core:product_list' %}"
                                                       class="button button-small button-rounded button-border button-dark button-black font-primary"
                                                       style="margin: 10px 0 40px">Lihat Semua Produk</a>

                                                    <!-- Mega Menu Cars Carousel -->
                                                    <div class="owl-carousel image-carousel carousel-widget text-center"
                                                         data-margin="20" data-nav="false" data-pagi="true"
                                                         data-items-xs="1" data-items-sm="2" data-items-md="4"
                                                         data-items-lg="6" data-items-xl="6">
                                                        {% for product in ctx_products %}
                                                        <div class="oc-item"><a href="{{ product.get_url }}"><img
                                                                src="{{ product.image_trans_header.url }}"
                                                                alt="Car">{{ product.title }}</a></div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="{% url 'core:news_list' %}">
                            <div>Berita</div>
                        </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a class="menu-link"><div>Halaman<i class="sub-menu-indicator fa-solid fa-caret-down"></i></div></a>
                            <ul class="sub-menu-container d-none" style="">
                                {% for page in ctx_misc_pages %}
                                    <li class="menu-item current"><a class="menu-link" href="{{ page.get_url }}">
                                        <div>{{ page.title }}</div>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #primary-menu end -->

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->
